body {
  color:#333333;
  background-color: #fef8ff;
  scroll-behavior: smooth;
}

div,
section {
  margin: auto;
  /* border: 1px solid red; */
  max-width: 800px;
  font-family: Arial, Helvetica, sans-serif;
}

#topCard {
  height: 500px;
  display: flex;
  margin-top: 100px;
}

#basicInfo {
  position: absolute;
  z-index: 2;
  margin-right: -300px;
  margin-top: 75px;  
  color: #333333;
  width: 600px;
}

#infoText {
  font-size: 80px;
  font-weight: 600;
}

#infoDescription {
  margin-top: 25px;
  font-weight: 500;
  font-size: 26px;
  letter-spacing: .05em;
}

.mouseFollower {
  position:absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  left: 50%;
  margin: -12px 0 0 -12px;
  background: black;
  border-radius: 80%;
  backface-visibility: hidden;
  transition: width 0.2s ease, height 0.2s ease;
  z-index: 3;
  border: none;
  pointer-events: none;
}


.blob {
  width: 518px;
  height: 482px;
  background: linear-gradient(129.17deg, #bcf5e3 18.47%, #bcf5b4 74.9%);
  border-radius: 48% 52% 41% 59%/66% 37% 63% 34%;
  -webkit-animation: blobber 30s linear infinite;
  animation: blobber 30s linear infinite;
  z-index: 1;
  margin-right: 0px;
  border: none;
}

header {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}

nav {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  color:#333333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(129.17deg, rgba(158, 251, 146, 0.5) 74.9%, rgba(164, 209, 160, 0.5) 18.47%);
  padding: 5px 10px;
  backdrop-filter: blur(4px);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

nav ul li {
  float: right;
}

.logoImg {
  height: 50px;
  width: 50px;
}

#horizontalScrollingBars {
  margin-top: 285px;
}

.hsBar ul {
  color: #404040;
  list-style: none;
  overflow: hidden;
  white-space: nowrap;
  width: 500vw;
  left: -60vw;
  position: relative;
  margin-bottom: 100px;
}

.hsBar ul li {
  float: left;
  padding: 0px 50px;
  z-index: 1;
  font-size: 35px;
  font-weight: 600;
}

#projects {
  display: flex;
  flex-flow: column;
  gap: 50px;
}

.project {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  display: grid;
  grid-gap: 10px;
  width: 80%;
  padding: 40px;
  margin: 50px;
  border-radius: 10px;
  transition: 0.5s;
}

.project:hover {
  transform: scale(1.1);
}

.project img {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 8px;
  grid-column: 3;
  grid-row: 1 / span 3;
  height: 200px;
  width: 200px;
}

.tag {
  background: linear-gradient(96.34deg,hsla(0,0%,100%,.15),hsla(0,0%,100%,.2));
  border: 1px solid hsla(0,0%,100%,.25);
  border-radius: 3px;
}

#project1 {
  color: white;
  background-color: rgb(37, 37, 37);
}

#project2 {
  background-color: rgb(234, 60, 83);
  color: white;
}

.project h2 {
  grid-column: 1 / 3;
  grid-row: 1;
}

.project p {
  grid-column: 1 / 3;
  grid-row: 2;
}

.project ul {
  list-style: none;
  grid-column: 1 / 3;
  grid-row: 3;
}

.project ul li {
  float: left;
  width: 85px;
  height: 30px;
  margin: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#blogs {
  /* border: 2px solid green; */
  display: flex;
  justify-content: center;
}

#blogLinks {
  position: absolute;
  display: flex;
  gap: 50px;
  /* border: 1px solid black; */
  margin-top: 60px;
}

#blogLinks a{
  text-decoration: none;
}

.blogLink {
  width: 375px;
  /* border: 1px solid blue; */
  height: 500px;
}

.blogLink img {
  width: 375px;
  height: 258px;
  border-radius: 15px;
  object-fit: cover;
}

.blogHeader {
  font-family: inherit;
  font-weight: 600;
  font-size: 25px;
  color:#333333;
}

.blogInfo {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  width: 100%;
}

.blogReadTime, .blogDate {
  font-weight: 500;
  font-size: 15px;
  font-family: sans-serif;
  color: gray;
}

::selection {
  background-color: black;
  color: whitesmoke;
}

@keyframes blobber {
  5% {    border-radius: 48% 52% 41% 59%/66% 37% 63% 34%;  }
  10% {    border-radius: 69% 31% 71% 29%/67% 31% 69% 33%;  }
  15% {    border-radius: 60% 40% 71% 29%/63% 65% 35% 37%;  }
  20% {    border-radius: 61% 39% 51% 49%/57% 58% 42% 43%;  }
  25% {    border-radius: 66% 34% 25% 75%/47% 30% 70% 53%;  }
  30% {    border-radius: 32% 68% 38% 62%/65% 60% 40% 35%;  }
  35% {    border-radius: 63% 37% 41% 59%/35% 38% 62% 65%;  }
  40% {    border-radius: 57% 43% 49% 51%/55% 71% 29% 45%;  }
  45% {    border-radius: 47% 53% 34% 66%/65% 36% 64% 35%;  }
  50% {    border-radius: 44% 56% 32% 68%/69% 26% 74% 31%;  }
  55% {    border-radius: 28% 72% 37% 63%/71% 44% 56% 29%;  }
  60% {    border-radius: 38% 62% 35% 65%/74% 53% 47% 26%;  }
  65% {    border-radius: 73% 27% 46% 54%/54% 47% 53% 46%;  }
  70% {    border-radius: 75% 25% 47% 53%/49% 53% 47% 51%;  }
  75% {    border-radius: 62% 38% 43% 57%/55% 60% 40% 45%;  }
  80% {    border-radius: 41% 59% 65% 35%/73% 50% 50% 27%;  }
  85% {    border-radius: 55% 45% 57% 43%/73% 61% 39% 27%;  }
  90% {    border-radius: 74% 26% 33% 67%/40% 65% 35% 60%;  }
  95% {    border-radius: 58% 42% 57% 43%/53% 45% 55% 47%;  }
  100% {    border-radius: 48% 52% 68% 32%/42% 28% 72% 58%;  }
}
